Checks:
  - -*
  - readability-identifier-naming
  - cppcoreguidelines-pro-type-member-init
  - modernize-deprecated-headers
  - modernize-redundant-void-arg
  - modernize-use-bool-literals
  - modernize-use-default-member-init
  - modernize-use-nullptr
  - readability-redundant-member-init

CheckOptions:
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: p_
  - key: readability-identifier-naming.MemberCase
    value: lower_case

  - key: readability-identifier-naming.MethodCase
    value: camelBack

  - key: readability-identifier-naming.ClassMethodCase
    value: CamelCase

  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
